<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


   <main>

      <section class="principal-picture" id="hero">

         <div class="container">
            <div class="row align-items-center">
               <div class="col parallax" data-axis="vertical" data-speed="-.2">
                  <h1>Flat White & Mocha</h1>
                  <p>Especialistas en café</p>
               </div>
            </div>
         </div>

      </section>

   </main>