<div class="indexcontainer">

   <!-- Slides -->
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <img src="/images/portada.jpg" class="d-block w-100" alt="curiosidades del café 1">
            <div
               style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
               <h1
                  style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-family: Josefin Slab; font-weight: bold;">
                  La isla que se encuentra más al norte de la Tierra<br> se llama Club de Café</h1>
            </div>
         </div>
      </div>
      <div class="fs-slides">
         <div class="fs-slide">
            <img src="/images/café-1.jpg" class="d-block w-100" alt="curiosidades del café 2">
            <div
               style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
               <h1
                  style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-family: Josefin Slab; font-weight: bold;">
                  Es la segunda bebida más consumida del mundo, la primera es el agua.</h1>
            </div>
         </div>
      </div>
   </div>

   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>

</div>

</div>

</div>