<div class=" profile coffeePic">
    <br>
    <br>
    <h1 class="coffee-lover">¡Bienvenid@, coffee lover! ☕☕☕ </h1>
    <br>
    <br>
    <h5> Aquí podrás encontrar las cafeterías con el mejor specialty coffee de Madrid.</h5>
    <h5> ¿Echas en falta alguna?
        <a class="btn" href="/cafeterias"> Añadir nueva</a>
    </h5>
</div>