/* MOBILE NAVEGATION */
@media(max-width:59em) {

  .btn-mobile-nav {
    display: block;
  }

  .header {
    position: relative;
  }

  .navbar {
    background-color: rgba(123, 98, 88, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index:999;
  }

  .nav {
    flex-direction: column;
    font-size: 2rem;
    gap: 3rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2rem;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  footer {
    align-items: center;
    font-size: 12px;
    position:fixed;
  }

  .buttons .create {
    justify-content: center;
  }

  .indexcontainer img {
    width: 40%;
    height:600px;
    object-fit: cover;

  }

}