body {
  padding: 50px;
  font: 14px "moon", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,h2 {
  color: 15px;
  font-family: 'Dancing Script', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: 15px;
  
}

/* ----- VIEWS  ----- */


/* --- Layout --- */


nav {

  margin-top: -48px;
  font-family: 'Dancing Script', cursive;

}


.footer-container{

  margin: inherit;
  padding: 50px;
  background-color: black;
}

<<<<<<< HEAD
/* --- Index --- */

.index-container{
 margin: 300px;

}

/* --- Details --- */
=======
>>>>>>> refs/remotes/origin/main
#myMap{
  height:300px; 
  background-color:antiquewhite;

<<<<<<< HEAD
}
=======
}
>>>>>>> refs/remotes/origin/main
