


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
 
img {
  width: 100%;
}

body {
  font: 14px "moon", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: 15px;
  font-family: "Josefin Slab", serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#errorMessage {
  margin-top: 20px;
  color: #333;
}

.loginForm,
.signupForm {
  margin:  150px auto;
}

.container {
  padding: 20px;
  margin-bottom: 40px;
}

.cafeteria {
  text-align: left;
  position: relative;
}

.coffee-shop {
  border-radius: 30px;
  box-shadow: 0 3px 8px 4px rgb(123, 98, 88, 0.5);
}

.cafeteria h3,
.cafeteria p {
  font-weight: 600;
}

.btn {
  background-color: #7b6258;
  border: none;
  color: white;
}


.card {
  margin: 10px;
  text-align: center;
}

footer {
  position:fixed;
  background-color: #7b6258;
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  color: white;
  height: 3.5rem;
  bottom: 0;
      
  
}

.createBtn {
  margin-top: 50px;
  margin-bottom: 30px;
}

.indexcontainer {
  align-items: center;
}

.cafterias {
  margin-top: 400px;
}

.indexcontainer img {
  width: 100%;
  height: 1000px;
  object-fit: cover;

}

#gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

#myMap {
  height: 360px;
  background-color: antiquewhite;
  border-radius: 20px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 10px rgb(211, 203, 203));
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons button {
  margin: 20px;
}

#previousPage,
#nextPage {
  text-decoration: none;
  color: #7b6258;
  font-weight: bold;
  border: 1px solid #7b6258;
  border-radius: 20px;
  width: 90px;
  height: 21px;
  text-align: center;
  margin-right: 15px;
}

.favoritas {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.prevNext {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


.addBtnForm {
  margin-bottom: 5rem;
}

#main-content {
  display: flex;
  width: 364px;
  height: 4px;
  background: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.goBack {
  margin-left: 50px;
  margin-top: 50px;
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
  background-color: #7b6258;
}
.nav-list{
  display:flex;
  list-style: none;
  gap:1rem;
}
.nav-list li a {
  text-decoration: none;
  color:white
}
.close-btn, .open-btn{
  display:none;
  border:none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  color:white;
}
 

.logo{
  text-decoration: none;
  color: white
}

.logo:hover{
  color:white;
}

   
@media  screen and (max-width: 550px){
   .open-btn,.close-btn{
    display:block;
    
  }
  
  .nav{
  position: absolute;
  opacity:0;
  visibility: hidden;
  display:flex;
  flex-direction: column;
  align-items: end;
  top:0;
  right:0;
  background-color: #765b50;
  height: 150px;
  gap:1rem;
  }

  .nav.visible{
    opacity:1;
    visibility: visible;
  }
  .nav-list{
    flex-direction: column;
    align-items: end;
    padding-right: 1rem;
    gap:1rem;
   
  }

 .header{
  height: 150px;;
 }
 
}


