*{
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "moon", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,h2 {
  color: 15px;
  font-family: 'Josefin Slab', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: 15px;
  
}

/* ----- VIEWS  ----- */

/* --- Index --- */



/* --- Layout --- */


nav {

  margin-top: -48px;
  font-family: 'Josefin Slab', serif;

}


.footer-container{

  margin: inherit;
  padding: 50px;
  background-color: black;
}

#myMap{
  height:300px; 
  width: 500px;
  background-color:antiquewhite;

}
