<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/create-cafeteria" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Nombre:</label>
                <input name="name" type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label"> Web:</label>
                <input name="website" type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="types" class="form-label">Selecciona el tipo de local:</label>
                <select name="type" id="types" class="form-select">
                    <option value="">---Select one---</option>
                    <option value="shop"> shop</option>
                    <option value="cafeteria">Cafeteria</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="latInput" class="form-label">Latitud</label>
                <input type="text" name="lat" id="latInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="lngInput" class="form-label">Longitud</label>
                <input type="text" name="lng" id="lngInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Descripción:</label>
                <input name="description" type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Imagen:</label>
                <input name="image" type="file" class="form-control" id="nameInput">
            </div>
            <br>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Transporte más cercano:</label>
                <input name="transport" type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Puntuación:</label>
                <input name="rating" type="text" class="form-control" id="nameInput">
            </div>

            <button type="submit" class="btn addBtnForm">Añadir cafetería</button>
            <br>
        </form>
    </div>
</div>