<h2>Nueva Cafetería</h2>
<div class=“row justify-content-center”>
    <div class=“col-md-6”>
        <form action=“/create_form” method=“POST”>
            <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Nombre:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br>
             <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Pág. Web:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“types” class=“form-label”>Selecciona el tipo de local:</label>
                <select name=“type” id=“types” class=“form-select”>
                    <option value=“” disabled selected>---Select one---</option>
                    <option value=“coffee shop”>Coffee shop</option>
                    <option value=“bookstore”>Cafeteria</option>
                </select>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“latInput” class=“form-label”>Latitud</label>
                <input type=“text” name=“lat” id=“latInput” class=“form-control”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“lngInput” class=“form-label”>Longitud</label>
                <input type=“text” name=“lng” id=“lngInput” class=“form-control”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Descripción:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Imagen:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Transporte más cercano:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br>
            <div class=“mb-3”>
                <label for=“nameInput” class=“form-label”>Puntuación:</label>
                <input name=“name” type=“text” class=“form-control” id=“nameInput”>
            </div>
            <br><br>
            <button type=“submit” class=“btn btn-primary”>Añadir cafetería</button>
        </form>
    </div>
</div>