<p>cafeterias!!!!</p>

{{#each cafeteria}}

<div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="Cafeteria">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/details/{{_id}}/cafeteria" class="btn btn-primary">Ver cafetería</a>
    </div>
</div>

{{/each}}

<a href="/create-cafeteria">Crear cafeteria nueva </a>