<script type="text/javascript">

  let favoriteButton = document.querySelector('.add');

  favoriteButton.addEventListener('click', function (e) {
    addCafeteria('Cue', 'Play');
  }, false);

</script>


<div id="gallery" class="container">
  <ion-icon name="cafe-filled"></ion-icon>

  <div class="buttons">
    <a href="/create-cafeteria" class="btn btn-primary">Crear cafeteria</a>
  </div>

  <div class="container">
    <div class="row">
      {{#each cafeteria}}
      <div class="col-md-3">
        <div class="card">
          <img src="{{image}}" class="card-img-top" alt="Cafeteria">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <div class="rating" data-rating={{rating}}></div>
          </div>
          <a href="/details/{{_id}}/cafeteria" class="btn">Ver cafetería</a>
        </div>
      </div>
      {{/each}}
    </div>
    <script src="/js/rating.js"></script>
  </div>
</div>