<div class="container">

    {{#each shop}}

    <div class="card" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="tienda">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/details/:id/shop" class="btn btn-primary">Ver tienda</a>
        </div>
    </div>

    {{/each}}




    <a href="/create-shop">Crear tienda nueva </a>