<div class="container">

    <div class="row justify-content-center">

        <h1>Tiendas de Café</h1>
        <hr>
        <ul>
            {{#each cafeteria}}  
                    <div class="card" style="width: 18rem;">
                    <img src="{{image}}" class="card-img-top" alt="Imagen de perfil">
                    <div class="card-body">
                        <h5 class="card-title">{{username}}</h5>
                        <a href="/{{id}}" class="btn btn-primary">Perfil</a>
                    </div>
                    </div>
            {{/each}}
          
        <ul>
    </div> 
</div>




<a href="/create-shop">Crear tienda nueva </a> 